{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'estilos-alumnos.css' %}"/>
{% endblock %}

{% block title %}Alumnos{% endblock title %}

{% block content %}
<div class="container-wrapper">
    <div class="container">
        <a class="button" href="{% url 'alumnos-registro' %}">Nuevo alumno</a>

        <form method="GET" action="{% url 'alumnos-filtrados' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="carrera">Carrera:</label>
                <select id="carrera" name="carrera" required>
                    <option value="">Seleccione una carrera</option>
                    <option value="Matematicas">Matematicas</option>
                    <option value="Actuaria">Actuaria</option>
                    <option value="Fisica">Fisica</option>
                    <option value="Ciencias Computacionales">Ciencias Computacionales</option>
                    <option value="Multimedia y Animacion Digital">Multimedia y Animacion Digital</option>
                    <option value="Seguridad en Tecnologias de Informacion">Seguridad en Tecnologias de Informacion</option>
                </select>
            </div>
            <div class="form-group">
                <label for="semestre">Semestre:</label>
                <input type="text" id="semestre" name="semestre" placeholder="Ingrese su Semestre" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Filtrar">
            </div>
        </form>

        <form method="GET" action="{% url 'alumno-especifico' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="matricula">Matricula:</label>
                <input type="text" id="matricula" name="matricula" placeholder="Ingrese su Matricula" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar">
            </div>
        </form>

        <h2>Lista de Alumnos</h2>
        {% for alumno in alumnos %}
            <div class="alumno-card">
                <h3>{{ alumno.nombre }} {{ alumno.apellidos }}</h3>
                <p><strong>Matrícula:</strong> {{ alumno.matricula }}</p>
                <p><strong>Correo:</strong> {{ alumno.correo }}</p>
                <p><strong>Celular:</strong> {{ alumno.celular }}</p>
                <p><strong>Carrera:</strong> {{ alumno.carrera }}</p>
                <p><strong>Semestre:</strong> {{ alumno.semestre }}</p>
                <p><strong>Grupo:</strong> {{ alumno.grupo }}</p>
                <a class="button" href="{% url 'detalle-alumno' alumno.matricula %}">Editar</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}