{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel = 'stylesheet' type="text/css" href="{% static 'estilos3.css' %}"/>
{% endblock %}

{% block title %}Información sobre el grupo{% endblock title %}

{% block content %}
<div class="container-wrapper">
    <div class="container">
        <h2>Grupo: {{ grupo.nombre }}</h2>
        <div class="alumno-card">
            <h3>Alumnos</h3>
            {% for alumno in grupo.alumnos %}
            <p>{{ alumno.nombre }} {{ alumno.apellidos }}</p>
            {% endfor %}

            <h3>Maestros</h3>
            {% for maestro in grupo.maestros %}
            <p>{{ maestro.nombre }} {{ maestro.apellidos }}</p>
            {% endfor %}
        </div>
        <a class="button-amarillo" href="{% url 'grupos' %}">Grupos</a>
    </div>
</div>
{% endblock %}

